!!!
%html.h-full.bg-gray-100
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Projects"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/manifest.json", :rel => "manifest"}/
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    = turbo_refreshes_with method: :morph, scroll: :preserve
  %body.h-full
    .min-h-full
      %nav.bg-gray-800
        .mx-auto.max-w-7xl.px-4.sm:px-6.lg:px-8
          .flex.h-16.items-center.justify-between
            .flex.items-center
              .flex-shrink-0
                %img.h-8.w-8{:alt => "Homey", :src => "https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"}/
              .hidden.md:block
                .ml-10.flex.items-baseline.space-x-4
                  = link_to "Projects", projects_path, class: "bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium"
            .hidden.md:block
              .ml-4.flex.items-center.md:ml-6
                - if user_signed_in?
                  %span.text-gray-300.mr-4= current_user.email
                  = button_to "Logout", destroy_user_session_path, method: :delete, class: "rounded-md bg-gray-700 px-3 py-2 text-sm font-medium text-white hover:bg-gray-600"
                - else
                  = link_to "Login", new_user_session_path, class: "rounded-md bg-gray-700 px-3 py-2 text-sm font-medium text-white hover:bg-gray-600"
      %header.bg-white.shadow
        .mx-auto.max-w-7xl.px-4.py-6.sm:px-6.lg:px-8
          %h1.text-3xl.font-bold.tracking-tight.text-gray-900= content_for(:header) || "Projects"
      %main
        .mx-auto.max-w-7xl.py-6.sm:px-6.lg:px-8
          = yield
